
<section>
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mb-1 capitalize">FLASH MESSAGE</h2>
        </div>
    </div>
   
<div class="row row-sm">
<div class="col-lg-12">
<div class="card custom-card">
  <div class="card-body">
    <div class="card-item">
      <form [formGroup]="flashMessageForm" (ngSubmit)="onSubmit()">
        <div class="row">

          <!-- MESSAGE -->
          <div class="col-md-4">
            <h5 class="form-lable required">
              Message <span class="required">*</span>
            </h5>
            <input
              type="text"
              pInputText
              formControlName="message"
              placeholder="Enter Message">
          </div>

          <!-- DESCRIPTION -->
          <div class="col-md-4">
            <h5 class="form-lable">Description</h5>
            <textarea
              formControlName="description"
              placeholder="Enter Description"
              id="description">
            </textarea>
          </div>

          <!-- DESIGNATION DROPDOWN -->
          <div class="col-md-4">
            <h5 class="form-lable required">
              Designation <span class="required">*</span>
            </h5>

            <p-dropdown
              formControlName="designation"
              [options]="designationOptions"
              placeholder="Select Designation"
              optionLabel="label"
              optionValue="label"
              [showClear]="true">
            </p-dropdown>
          </div>

          <!-- SUBMIT BUTTON -->
          <div class="col-md-12 text-end mt-3">
            <button class="btn btn-primary" type="submit">
              Submit
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

</div>
</div>
</section>


<p-table
  [value]="rows"
  [paginator]="true"
  [rows]="15"
  [rowsPerPageOptions]="[5,10,25,50]"
  [rowHover]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  styleClass="ui-table-customers">

  <!-- HEADER -->
  <ng-template pTemplate="header">
    <tr class="thhead">
      <th style="width:60px">S.No</th>
      <th style="width:180px">Message</th>
      <th style="width:380px">Description</th>
      <th style="width:140px">Designation</th>
      <th style="width:180px">Created At</th>
      <th style="width:100px;text-align:center">
        Action
      </th>
    </tr>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr class="tdrow">
      <td style="width:60px">{{ i + 1 }}</td>
      <td style="width:180px">{{ item.message }}</td>
      <td style="width:380px">
        {{ item.description || '-' }}
      </td>
      <td style="width:140px">{{ item.designation || '-' }}</td>
      <td style="width:180px">
        {{ item.createdAt | date:'dd-MMM-yyyy hh:mm a' }}
      </td>

      <td style="width:100px;text-align:center"
          (click)="Deletecompanydetails(item._id)">
        <i
          class="fa fa-trash"
          style="color:#fd2c3a; cursor:pointer"
          pTooltip="Delete">
        </i>
      </td>
    </tr>
  </ng-template>

</p-table>

