<section>
  <div class="page-header">
    <div>
      <h2 class="main-content-title tx-24 mb-1">Attendance Management</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Job Detail Management</li>
      </ol>
    </div>

  </div>




  <div class="row row-sm">
    <div class="col-lg-12">
      <div class="card custom-card">
        <div class="card-body">
          <div class="card-item">
            <div class="row d-flex align-items-start">

              <!-- Search -->
              <div class="col-md-3 mb-2 d-flex flex-column">
                <label class="form-label">Search</label>
                <div class="input-group">
                  <span class="input-group-text" id="search"><i class="fas fa-search"></i></span>
                  <input type="text" class="form-control" [(ngModel)]="searchQR" placeholder="Search..." aria-label="Username" aria-describedby="search" autocomplete="off">
                </div>
              </div>

              <!-- Branch Code -->
              <div class="col-md-3 mb-2 d-flex flex-column">
                <label class="form-label">Select Branch Code</label>
                <select class="form-control" [(ngModel)]="job_location">
                  <option value="">All Branches</option>
                  <option *ngFor="let item of branchList" [value]="item.BRCODE">
                    {{ item.BRCODE }}
                  </option>
                </select>
              </div>

              <!-- Start Date -->
              <div class="col-md-2 mb-2 d-flex flex-column">
                <label for="startDate" class="form-label">Start Date</label>
                <p-calendar id="startDate" [(ngModel)]="S_Date" [showIcon]="true" placeholder="Start Date"
                  class="w-100">
                </p-calendar>
              </div>

              <!-- End Date -->
              <div class="col-md-2 mb-2 d-flex flex-column">
                <label for="endDate" class="form-label">End Date</label>
                <p-calendar id="endDate" [(ngModel)]="E_Date" [showIcon]="true" placeholder="End Date" class="w-100">
                </p-calendar>
              </div>

              <div class="col-md-2 mb-2 m-auto">
                <button type="button" class="btn btn-primary btn-lg w-100" (click)="list_data()">
                  <i class="fas fa-search"></i> Search
                </button>
              </div>

            </div>

            <div class="col-md-2 d-flex align-items-center mb-2 p-0">
              <button type="button" class="btn btn-success w-100" (click)="excelDownload()">
                <i class="fas fa-file-excel"></i> Excel
              </button>
            </div>



            <div class="table-responsive">
              <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true"
                [rows]="15" [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['type']">
                <ng-template pTemplate="header">
                  <tr class="thhead">
                    <th class="th-1">S.No</th>
                    <th>BRCODE</th>
                    <th>EMPNO</th>
                    <th>JOBNO</th>
                    <th>WORK DATE</th>
                    <th>ACTIVITY</th>
                    <th>WORK HOUR</th>
                    <th>ENG EMPNO</th>
                    <th>SUBMITTED DATE</th>
                    <th>APPROVED DATE</th>
                    <th>STATUS</th>
                    <th style="width: 163px;text-align:center" *ngIf="userType == 'Admin'">
                      Action
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                  <tr class="tdrow">
                    <td>{{i+1}}</td>
                    <td>{{item.JLS_EWD_BRCODE}}</td>
                    <td>{{item.JLS_EWD_EMPNO}}</td>
                    <td>{{item.JLS_EWD_JOBNO}}</td>
                    <td>{{item.JLS_EWD_WKDATE | date:'mediumDate'}}</td>
                    <td>{{item.JLS_EWD_ACTIVITY}}</td>
                    <td>{{item.JLS_EWD_WRKHOUR}}</td>
                    <td>{{item.JLS_EWD_PREPBY}}</td>
                    <td>{{item.JLS_EWD_CREATEDDATE | date:'medium' }}</td>
                    <td>{{item.APPROVED_DATE | date:'medium' }}</td>
                    <td>{{item.JLS_EWD_STATUS}}</td>
                    <td class="act text-center" *ngIf="userType == 'Admin'">
                      <!-- <i style="color: #fd2c3a;" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                        (click)="deleteConfirm(item._id)"></i> -->
                        <button pButton icon="pi pi-check" class="text-success mr-2" title="Approve" (click)="confirmApprove(item)"></button>
                        <button pButton icon="pi pi-times" class="text-danger" title="Reject" (click)="confirmReject(item)"></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr class="full text-center" *ngIf="isLoading">
                    <td [attr.colspan]="userType == 'Admin' ? 12 : 11">
                      <div class="d-flex justify-content-center align-items-center">
                        <p-progressSpinner [strokeWidth]="'5'" aria-label="Loading"
                          [animationDuration]="'0.5s'"></p-progressSpinner>
                        <div class="fs">Loading....</div>
                      </div>
                    </td>
                  </tr>
                  <tr class="full text-center" *ngIf="rows?.length==0 && !isLoading">
                    <td [attr.colspan]="userType == 'Admin' ? 12 : 11">
                      No Records Found
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<p-confirmDialog></p-confirmDialog>
